.border-box {
    box-sizing: border-box;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fb {
    font-weight: bold;
}
.tc {
    text-align: center;
}
