@import "lib/mixin";
@import "lib/normalize";
@import "lib/reset";

@import "common/base";
@import "common/acss";
@import "common/common";
/** 谷歌字体样式 */
@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Playball');

html, body {
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    font-family: 'PingFanf SC', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
