<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" data-uid="robbie">
    <title  data-uid="robbie">{{title}}</title>
    <meta  data-uid="robbie" name="keywords" content="{{keywords}}">
    <meta  data-uid="robbie" name="description" content="{{description}}">
    <meta  data-uid="robbie" name="format-detection" content="telephone=no, email=no">
    <meta  data-uid="robbie" name="applicable-device" content="mobile">
    <link rel="icon" type="image/png" sizes="16x16" href="https://makefriends.bs2dl.yy.com/bm1539173901274.png">
</head>
<body>
{{>flexible}}
{% body %}
<script src="//res.yy.com/libs/vue/2.5.3/vue.min.js"></script>
{{>swEntry}}
</body>
</html>
